/*extra small devices (phones, 600px and down)*/
@media only screen and (min-width: 600px){
    navigatie {display: column;}
    navigatie {float: left;}    
}
/*medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width:768px){
    navigatie {display: flex;}
    navigatie {float: none;}       
}

/*large devices (laptop/ desktop, 992px and up) */
@media only screen and (min-width:992px){
    navigatie {display: flex;}  
}
body {
    background-color: rgb(233, 230, 207);
}
a {
    color: white;
    text-decoration: none;
    border-radius: 1px solid black;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}
a:hover {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.navigatie a {
    width: 85px;
    border-radius: 10px;
    background-color: #FF735C;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
footer {
    color: white;
    border-radius: 10px;
    display: flex;
    background-color: #FF735C;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 50px;
}

/* Animations */

.slideLeft{
    animation: slideLeft 1s ease-in-out;
}

.slideRight{
    animation: slideRight 1s ease-in-out;
}


@keyframes slideLeft {
    0%{
        transform: translateX(-100vh);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0%{
        transform: translateX(100vh);
    }
    100%{
        transform: translateX(0);
    }
}

/* =========================================== */