/*extra small devices (phones, 600px and down)*/
@media only screen and (min-width: 600px){
    navigatie {display: column;}
    navigatie {float: left;}    
}
/*medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width:768px){
    navigatie {display: flex;}
    navigatie {float: none;}       
}

/*large devices (laptop/ desktop, 992px and up) */
@media only screen and (min-width:992px){
    navigatie {display: flex;}  
}
body {
    background-color: rgb(233, 230, 207);
}
h1, h2 {
    color: rgb(14, 14, 151);
}
a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}
a:hover {
    background-color: rgb(126, 243, 91);
    margin: 5px;
    padding: 5px;
}
.navigatie a {
    width: 100px;
    border: 1px solid blue;
    background-color: rgb(142, 211, 216);
    display: inline-flex;
    justify-items: center;
    align-items: center;
}
footer {
    display: flex;
    border: 1px solid rgb(21, 6, 36);
    background-color: rgb(172, 167, 236);
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 50px;
}